body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}
.App {
  width: 80%;
  margin: auto;
}
.remove-icon {
  color: red;
  padding: 2px;
  text-decoration: none;
}

.task-completed{
  text-decoration: line-through;
}

.category {
  width: 30%;
  float: left;
  border: 1px lightgray dashed;
  height: 80vh;
  padding: 10px;
  background-color: wheat;
}

.task-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.task-list > li {
  margin: 5px;
  border: 1px solid green;
  padding: 5px;
}

.task {
  list-style-type: none;
  margin: 5px;
  padding: 5px;
}
.task-title {
  background-color: gainsboro;
  cursor: pointer;
}

.task-body{
  padding: 5px;
}